.completed {
    background-image: repeating-linear-gradient(
    -45deg,
    #ccc,
    #ccc 10px,
    transparent 10px,
    transparent 20px
  )
  }

.uncompleted {
    background-color: none
}

.highPrior:hover {
  color: red
}

.greenPrior:hover {
  color: green
}